<form>
  <label>
    Place:
    <input class="her-location" type="text"></input>
  </label>

  <input class="her-search" type="submit" value="Search"></input>
</form>

<div class="list-group her-results"></div>