<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Example App</title>
  </head>

  <body>
 
    {{{body}}}

    <script data-main="public/js/app" src="public/js/bower_components/requirejs/require.js"></script>

  </body>
</html>